/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

nav, header, footer {
    width: 100%;
}

body {    
    background-color: #e5d49f;
    font: 16px;
}

nav {     
    min-height: 100px;       
    background-color: #424242;
    background-image: url(breathe-yogaLogo.png); 
    background-repeat: no-repeat;   
    padding: 35px;
}

/*nav img {
    margin: 0 auto;
    border-radius: 5px;
    width: 150px;
    text-align: left;
}*/

.align-right {    
    text-align: right;         
}

ul {
    margin-top: 20px;
    list-style: none;
}

a {   
    color: #3E8C84;    
    margin-right: 10px;    
    font-size: 18px;    
    text-decoration: none;     
}

a:hover {
    color:#e5d49f;
}

hr {    
    height: 12px;    
    background: #ccaa40;
    border: none;
}

/* Header Styles */
header {     
    height: 300px;
    background-image: url(river-torrent.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;        
}

.welcome {    
    /* margin: 20px;
    background-color: rgb(66, 66, 66, 0.7);       
    border-radius: 5px;
    color: #ccaa40;
    display: inline-block;   
    padding: 10px;    
    max-width: 600px;
    box-sizing: border-box;
    overflow: break-word;        */
    width: 50%;
    max-width: 90%;
    margin: 20px auto;
    background-color: rgba(66, 66, 66, 0.7);
    border-radius: 5px;
    color: #ccaa40;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.welcome h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.welcome hr {
    width: 100%;
    height: 5px;
    background: rgba(62, 140, 132, .7);
    border-radius: 2px;    
}

.welcome p {
    padding-top: 5px;
    color:#e5d49f;
    line-height: 1.5;    
}

/* Retreat and Join Sections */
.retreat, .join {
    width: 100%;
    background-color: rgba(61, 143, 135, 0.702);    
    padding: 15px;
}

.retreat h2, .join h2 {
    padding-bottom: 5px;
    color: #1b1b1b;
}

.retreat p, .join p {
    padding-top: 5px;
    padding-bottom: 2px;
    color:#2e2e2e;   
}

.join input {
    width: 25%;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #dfd8c4;
    color:rgba(62, 140, 132);
}

.join button {
    width: 130px;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #dfd8c4;
    color:rgba(62, 140, 132);
}

::placeholder {
    color:rgba(62, 140, 132);
    opacity: 1;
}

/* Footer Styles */ 
footer {
    padding: 20px;
    text-align: center;
    background-color: #424242;
    color:#3E8C84;
}

footer a, p {
    margin: 10px;    
}

/* Media Queries for Different Sized Screens  */

@media (min-width: 340px) and (max-width: 480px) {
    nav {
        min-height: 150px;        
    }

    a {
        margin-left: 0;
    }

    header {
        height: 600px;
    }

    .welcome {      
        max-width: 90%;
        
    }

    .welcome h1 {
        padding-top: 10px;
    }

    .welcome p {
        font-size: 16px;
        line-height: 1.4;
        padding-top: 10px;
        
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    nav {
        min-height: 150px;
    }

    .align-right {
        text-align: right;
    }

    .welcome p {
        font-size: 18px;
        line-height: 1.5;
    }
}


@media screen and (max-width: 599px) {  
    header {
        height: 600px;
    }
    
    .welcome {
        width: 75%;                
    }    

    .welcome p {
        line-height: 1.25;
    }
}

@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }

    header {
        height: 450px;
    }

    .welcome {
        width: 100%;       
    }

    .welcome p {
        font-size: 18px;
        line-height: 1.40;
    }
}

/*@media screen and (min-width: 768px) {
    nav {
        min-height: 150px;
    }

    .align-right {
        text-align: right;
    }

    .welcome p {
        font-size: 18px;
        line-height: 1.5;
    }
}*/